html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    scrollbar-width: none; 
}

/* Hiding scroll bars */
body::-webkit-scrollbar {
    display: none;
}

a {
    font-size: 15px;
    text-decoration: none;
    color: black;
}

p, ul {
    font-family: 'Merriweather Sans', sans-serif;
}

.start {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #D0D9BE;
    flex-direction: column;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 92vh;
    margin: 3vh;
}

.credits {
    display: flex;
    justify-content: right;
    direction: rtl;
    gap: 3vw;
    align-items: center;
    font-family: 'Merriweather Sans', sans-serif;
}

.center {
    width: 100%;
    gap: 2vw;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

h1 {
    font-size: 3em;
    font-family: 'Volkhov', serif;
    margin: 0;
}

h2 {
    font-size: 1.5em;
    font-family: 'Volkhov', serif;
    margin: 0;
}

.title {
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
}

#cover {
    width: 70vw;
}

.nav {
    display: flex;
    font-family: 'Merriweather Sans', sans-serif;
    justify-content: space-around;
    background-color: #D0D9BE;
}

.nav p {
    font-size: 0.7em;
}

.nav input {
    width: 7vw;
}

.category {
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#logo {
    width: 10vw;
}


.transition {
    background-color: white;
    height: 4vh;
    padding: 2vh;
    gap: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transition img {
    margin: 0;
    width: 2vh;
}

.transition p {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1em;
    margin: 0;
    text-align: center;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.about-text h1 {
    font-size: 2em;
    text-align: center;
}

.about-text p {
    text-align: center;
}

.about-text a,
#back-button {
    text-align: center;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
}

#back-button {
    font-size: 1.5em;
}

#about-body {
    background-color: #889962;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10vh;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
}

.hotline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hotline ul {
    padding: 0;
    margin: 1vh 0 0 0;
}

.hotline p {
    padding: 0;
    margin: 1vh 0 0 0;
    text-align: center;
}

.hotline-img {
    position: relative;
    width: 75%;
}

.hotline-img img {
    width: 100%;
    height: auto;
}

.hotline-img .btn {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #222;
    color: white;
    font-size: 16px;
    padding: 18px 30px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.hotline-img .btn hover {
    background-color: black;
}

@media only screen and (min-width: 532px) {
    .center {
        width: 100%;
        gap: 2vw;
        padding-bottom: 5vh;
        display: flex;
        flex-direction: row; 
    }

    .title {
        margin-left: 3vw;
        display: flex;
    }

    #cover {
        width: 60vw;
    }

    #logo {
        width: 5vw;
    }

    .credits {
        gap: 2vh;
        justify-content: left;
        direction: ltr;
    }

    .nav input {
        width: 6vw;
    }

    .nav {
        font-size: 1.5em;
    }

    .contact {
        padding-bottom: 3vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        gap: 1vw;
    }

    .hotline-img {
        position: relative;
        width: 85%;
    }
}

@media only screen and (min-width: 992px) {
    body {
        gap: 4vw;
    }

    .center {
        width: 100%;
        gap: 2vw;
        padding-bottom: 5vh;
        display: flex;
        flex-direction: row; 
    }

    .title {
        margin-left: 3vw;
        display: flex;
    }

    #cover {
        width: 60vh;
    }

    #logo {
        width: 4vw;
    }

    .credits {
        width: 98%;
        margin: 2vh;
        gap: 2vh;
        justify-content: left;
        direction: ltr;
    }

    .nav input {
        width: 4vw;
    }
    
    .transition {
        padding: 2vh 0 0 0;
    }

    .contact {
        gap: 1vw;
    }

    .hotline-img {
        position: relative;
        width: 80%;
    }

    .hotline p, ul {
        font-size: 1em;
    }

    @media only screen and (min-width: 1200px) {
        .hotline p, ul {
            font-size: 1.2em;
        }
    }

    @media only screen and (max-height: 1000px) {
        .hotline p, ul {
            font-size: 1em;
        }
    }
    
}